<div class="row row-3">
    {%for items in thumbnails%}

        <div class="col">
            <img class="rounded img_max_size"  src="{{url_for('static',filename=thumbnails[items][0] )}}">
        </div>
        <div class="col">
            <img class="rounded img_max_size"  src="{{url_for('static',filename=thumbnails[items][1] )}}">
        </div>
        <div class="col">
            <img class="rounded img_max_size"  src="{{url_for('static',filename=thumbnails[items][2] )}}">
        </div>
    
        <div class="container">
            <a href="{{thumbnails[items][3]}}"><button class="btn btn-lg btn-light">Show Full Gallery</button></a>
        </div>
    {%endfor%} 

</div>