<div class="container-fluid text-center">
    <div class="row">
        <div class="col"></div>
            <div class="col-8">    
                <h2>Hi !<small class="text-muted"> Welcome to my web site.</small></h2>
                <p>I am programmer in the wide sense of the word. Robotics and industrial automation technician and 3d art and 3d modeling enthusiast.
                In this web site you will find high poly renders, low poly game assets and small projects/apps.
                Feel free to explore the work exposed here and to contact me if something caught your eye ;) .
                </p>
            </div>
        <div class="col"></div>
    </div>

</div>
