
    <div class="list-group">
        <h5 class="list-group-item ">Contact Info</h5>
        <p class="list-group-item">Robin Viera</p>
        <p class="list-group-item">Barcelona/Spain</p>
        <h5 class="list-group-item ">Email</h5>
        <p class="list-group-item">robinviera@hotmail.com</p>
        <h5 class="list-group-item ">Linkedin profile</h5>
        <p class="list-group-item">https://www.linkedin.com/in/robin-viera-17aa2378/</p>
        <p class="list-group-item text-success">open to work</p>
        <h5 class="list-group-item ">Experience</h5>
        <p class="list-group-item">Junior engineer in robotics and industrial automation / c++ developer <span class="badge bg-secondary">2 years at Rotec-Engineering</span></p>
        <p class="list-group-item">CMS developer (wordpress) <span class="badge bg-secondary">1 years as freelancer </span> </p>
        <h5 class="list-group-item ">Spoken Languages</h5>
        <div class="list-group-item">
            <li>Spanish <span class="badge bg-secondary">native</span></li>
            <li>English <span class="badge bg-secondary">fluent/professional</span></li>
        </div>

        <h5 class="list-group-item ">Skills</h5>
        <p class="list-group-item">Python developer </p>
        
        <div class="list-group-item">
            <li>Python 3</li>
            <li>Pyqt5</li>
            <li>Flask</li>
            <li>Google Drive Api</li>
            <li>MYSQL</li>
        </div>

        <p class="list-group-item">C++ developer</p>
        <div class="list-group-item">
            <li>C++ 14</li>
            <li>Bug hunting</li>
            <li>Refactoring</li>
            <li>Testing</li>
            <li>Development</li>
        </div>

        <p class="list-group-item">Industrial robots programmer</p>
        <div class="list-group-item">
            <li>ABB robots</li>
            <li>YASKAWA MOTOMAN robots</li>
            <li>C language</li>
            <li>Visual Basic language</li>
        </div>

        <p class="list-group-item">Industrial PLCs programmer</p>
        <div class="list-group-item">
            <li>SIGMA CONTROL <span class="badge bg-secondary">OOP Lasal class</span></li>
            <li>BACHMAN <span class="badge bg-secondary">OOP c++</span></li>
            <li>OMRON <span class="badge bg-secondary">LADDER / CONTACTS paradigm</span></li>
        </div>
    </div>
    
