    <div class="container px-2 py-3">
        <div class="row row-cols-3">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static',filename="/images/text.png" ) }}" alt="">
                <div class="card-body">
                    <h4 class="h4">Image Description</h4>
                    <p class="card-text">something something text blablabalbal</p>
                    <a  href="" class="btn btn-primary btn-lg">View</a>
                </div>
            </div>
        </div>
    </div>
